<%= render 'layouts/admin_menu' %>
<div id="main">
  <div class="wrapper">
    <section id="content">
      <div id="breadcrumbs-wrapper">
        <div class="container">
          <div class="row">
            <div class="col s12 m12 l12" style="position: relative;">
              <h5 class="breadcrumbs-title">Denuncias</h5>
              <br>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="section">
          <div class="row">
            <div class="col s12 m12 l10 offset-l1">
              <ul class="collection with-header" style="border: none">
                <li class="collection-header blue">
                  <div class="row valign-wrapper">

                  </div>
                </li>
                <li class="collection-item center">
                  <div class="row">
                    <div class="col s12 m12 l12">
                      <table id="data-table-simple" class="responsive-table display" cellspacing="0">
                        <thead>
                          <tr>
                            <th class="center">ID</th>
                            <th class="center">ID da Prova</th>
                            <th class="center">Denunciado</th>
                            <th class="center">Denunciante</th>
                            <th class="center">Prova</th>
                            <th class="center">Texto</th>
                            <th class="center"></th>
                          </tr>
                        </thead>

                        <tbody>
                          <% @complaints.each do |complaint|%>
                            <tr>
                              <th class="center"><%= complaint.id %></th>
                              <th class="center"><%= complaint.exam.try(:id) %> - <% complaint.exam.subject.name %>, <%= complaint.exam.subject.course.name %> <%= complaint.exam.subject.course.university.name %></th>
                              <th class="center"><%= complaint.exam.try(:user).try(:name) %></th>
                              <th class="center"><%= complaint.user.try(:name) %></th>
                              <th class="center"><%= complaint.exam.try(:name) %></th>
                              <th class="center"><%= complaint.text %></th>
                              <th class="center">
                                <%= link_to "Apagar", "/complaints/#{complaint.id}", method: :delete %></th>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
