<%= render 'layouts/admin_menu' %>
<div id="main">
  <div class="wrapper">
    <section id="content">
      <div id="breadcrumbs-wrapper">
        <div class="container">
          <div class="row">
            <div class="col s12 m12 l12">
              <h5 class="breadcrumbs-title">Perfil e Configuração</h5>
              <br>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="section">
          <div class="row">
			      <div class="col s12 m8 offset-m2">
              <%= form_for(@admin, url: "/admin/admin") do |f| %>
                <div class="card-panel white">
                  <span class="black-text">
                    <div class="row">
                      <div class="input-field col s6">
                        <%= f.text_field :price_per_km%>
                        <label for="price_per_km">Preço por KM</label>
                      </div>
                      <div class="input-field col s6">
                        <%= f.text_field :distance_limit%>
                        <label for="distance_limit">Distancia Máxima de Atendimento</label>
                      </div>
                      <div class="input-field col s12">
                        <%= f.text_field :address %>
                        <label for="address">Endereço do TruckVille</label>
                      </div>
                      <div class="input-field col s12">
                        <%= f.check_box :aleatory_truck %>
                        <label for="admin_aleatory_truck">Trucks Aleatórios</label>
                      </div>
                      <a class="btn red waves-effect waves-light right" onclick="window.location.assign('/admin/admin/change_password')">Mudar Senha e E-mail</a>
                    </div>
                  </span>
                </div>
						    <a href="javascript:history.back()" class="btn waves-effect waves-light left">Voltar</a>
						    <button class="btn waves-effect waves-light right" type="submit" name="action">Salvar
							  </button>
              <% end %>
			      </div>
			    </div>
        </div>
      </div>
    </section>
  </div>
</div>
