<%= render 'layouts/admin_menu' %>
<div id="main">
  <div class="wrapper">
    <section id="content">
      <div id="breadcrumbs-wrapper">
        <div class="container">
          <div class="row">
            <div class="col s12 m12 l12" style="position: relative;">
              <h5 class="breadcrumbs-title"><%= @exam.name %> - <%= @exam.subject.name %></h5>
              <br>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="section">
          <div class="row">
            <div class="col s12 m12 l10 offset-l1">
              <ul class="collection with-header" style="border: none">
                <li class="collection-header blue">
                  <div class="row valign-wrapper">
                  </div>
                </li>
                <li class="collection-item">
                  <p>Nome: <%= @exam.name %><br>
                    Disciplina: <%= @exam.subject.name %><br>
                    Ano: <%= @exam.period %><br>
                    Visualizações: <%= @exam.views %><br>
                    Visivel: <%= @exam.visible %><br>
                  </p>
                </li>
              </ul>
              <% if true %>
                <ul class="collection with-header" style="border: none">
                  <li class="collection-header blue">
                    <div class="row valign-wrapper">
                    </div>
                  </li>
                  <li class="collection-item">
                    <p>Fotos</p>
                    <div class="row">
                      <% @photos.each do |photo| %>
                        <img src="<%= photo.image_uncompressed.url %>">
                      <% end %>
                    </div>
                  </li>
                </ul>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
