<%= render 'layouts/admin_menu' %>
<div id="main">
  <div class="wrapper">
    <section id="content">
      <div id="breadcrumbs-wrapper">
        <div class="container">
          <div class="row">
            <div class="col s12 m12 l12" style="position: relative;">
              <h5 class="breadcrumbs-title">Instituições</h5>
              <br>

              <div class="breadcrumbs-buttons">
                <a class="btn-floating btn-large blue darken-1 waves-effect waves-light" onclick="window.location.assign('/universities/new')">
                  <i class="force-total-center large-icon material-icons ion-android-add"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="section">
          <div class="row">
            <div class="col s12 m12 l10 offset-l1">
              <ul class="collection with-header" style="border: none">
                <li class="collection-header blue">
                  <div class="row valign-wrapper">

                  </div>
                </li>
                <li class="collection-item center">
                  <div class="row">
                    <div class="col s12 m12 l12">
                      <table id="data-table-simple" class="responsive-table display" cellspacing="0">
                        <thead>
                          <tr>
                            <th class="center">ID</th>
                            <th class="center">Instituição</th>
                            <th class="center">Cidade</th>
                            <th class="center"></th>
                          </tr>
                        </thead>

                        <tbody>
                          <% @universities.each do |uni|%>
                            <tr>
                              <th class="center"><%= uni.id %></th>
                              <th class="center"><%= uni.name %></th>
                              <th class="center"><%= uni.city.try(:name) %></th>
                              <th class="center"><%= link_to "Editar", edit_university_path(id: uni.id), method: :get %> - <%= link_to 'Apagar', uni, method: :delete, data: { confirm: 'Você tem certeza' }, class: "red-text text-lighten-2" %></th>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
